body {
    font-family: 'Times New Roman', Times, serif;
    background: url('/static/Emplyee_app/images/bgimg.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/static/Emplyee_app/images/bgimg.jpg') no-repeat center center fixed;
    /*background-color: rgb(17, 18, 21);
    */background-size: cover;
    filter: blur(5px) brightness(40%);
    /*Combineblurandbrightness*/z-index: -1;
    -webkit-filter: blur(5px) brightness(40%);
}
