<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
 
    <title>add employees</title>
</head>
<body>
   
    <div class="container">
        <h1>add an employee</h1><hr>
        <a class="btn btn-primary" href="/all_emp" role="button">view  all Employee</a>
        <a class="btn btn-primary" href="/add_emp" role="button">add an Employee</a>
        <a class="btn btn-primary" href="/remove_emp" role="button">remove an Employee</a>
        <a class="btn btn-primary" href="/filter_emp" role="button">filter Employee</a>
        <hr>
        <form action="/add_emp" method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="first_name" class="form-label">First name</label>
                    <input type="text" id="first_name" name="first_name" value="{{ first_name }}" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                <div class="col">
                    <label for="last_name" class="form-label">Last name</label>
                    <input type="text" id="last_name" name="last_name" value="{{ last_name }}" class="form-control" placeholder="Last name" aria-label="Last name">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="salary" class="form-label">Salary</label>
                    <input type="number" id="salary" name="salary" value="{{ salary }}" class="form-control" placeholder="Salary" aria-label="Salary">
                </div>
                <div class="col">
                    <label for="bonus" class="form-label">Bonus</label>
                    <input type="number" id="bonus" name="bonus" value="{{ bonus }}" class="form-control" placeholder="Bonus" aria-label="Bonus">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="dept" class="form-label">Department</label>
                    <input type="number" id="dept" name="dept" value="{{ dept }}" class="form-control" placeholder="dept" aria-label="dept">
                </div>
                <div class="col">
                    <label for="role" class="form-label">Role</label>
                    <input type="number" id="role" name="role" value="{{ role }}" class="form-control" placeholder="role" aria-label="role">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" id="phone" name="phone" value="{{ phone }}" class="form-control" placeholder="Phone" aria-label="Phone">
                </div>
                <div class="col">
                    <label for="hire_date" class="form-label">Hire Date</label>
                    <input type="date" id="hire_date" name="hire_date" value="{{ hire_date }}" class="form-control" aria-label="Hire Date">
                </div>
            </div>

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
