{% extends 'base.html' %}
{% block body%}

        <form action="/filter_emp" method='post'>
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    <label for="name" class="form-label">Employee First/Last name</label>
                    <input type="text" id="name" name="name" value="{{ name }}" class="form-control" placeholder="First name" aria-label="First name">
                </div>
                
            </div>

            
            <div class="row">
                <div class="col">
                    <label for="dept" class="form-label">Department</label>
                    <input type="text" id="dept" name="dept" value="{{ dept }}" class="form-control" placeholder="dept" aria-label="dept">
                </div>
                <div class="col">
                    <label for="role" class="form-label">Role</label>
                    <input type="text" id="role" name="role" value="{{ role }}" class="form-control" placeholder="role" aria-label="role">
                </div>
            </div>

            

            <button type="submit" class="btn btn-primary mt-3">Submit</button>
        </form>

    {%endblock%}