<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Filtered Employees</title>
</head>
<body>
    <div class="container">
        <h1>Filtered Employee Details</h1>
        <a class="btn btn-primary" href="/all_emp" role="button">View All Employees</a>
        <a class="btn btn-primary" href="/add_emp" role="button">Add an Employee</a>
        <a class="btn btn-primary" href="/remove_emp" role="button">Remove an Employee</a>
        <a class="btn btn-primary" href="/filter_emp" role="button">Filter Employees</a>
        
        <table class="table table-dark table-striped table-bordered border-primary mt-5">
            <thead>
                <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Salary</th>
                    <th scope="col">Bonus</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Role</th>
                    <th scope="col">Department</th>
                    <th scope="col">Location</th>
                    <th scope="col">Hire Date</th>
                </tr>
            </thead>
            <tbody>
                {% for emp in emp %}
                    <tr>
                        <th scope="row">{{ emp.id }}</th>
                        <td>{{ emp.first_name }}</td>
                        <td>{{ emp.last_name }}</td>
                        <td>{{ emp.salary }}</td>
                        <td>{{ emp.bonus }}</td>
                        <td>{{ emp.phone }}</td>
                        <td>{{ emp.role.name }}</td>
                        <td>{{ emp.dept.name }}</td>
                        <td>{{ emp.dept.location }}</td>
                        <td>{{ emp.hire_date }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
