{% extends 'base.html' %}
{% load static %}
{% block title %} Home{% endblock %}
{% block heading %}Welcome to homepage{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div class="row">
    <div class="col">
        <h1>Hello, {{ first_name }} {{ last_name }}</h1>
        <p>Streamline your payroll processes and elevate your business with our Payroll System. <br> 
            Our comprehensive solution is designed to make managing payroll effortless, accurate,<br> and stress-free.</p>
    </div>
    <div class="col">
        <img src="{% static 'Emplyee_app/images/logo2.jpeg' %}"  height="50%" width="70%" alt="img here">
    </div>
</div>
{% endif %}
{% endblock %}
