{% extends 'base.html'%}
{%block title%}Remove employee{%endblock%}
{%block heading%}Remove an employee{%endblock%}
{% block body %}

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Choose an employee to remove
            </button>
            <ul class="dropdown-menu">
                {% for emp1 in emp1 %}

              <li><a class="dropdown-item" href="/remove_emp/{{emp1.id}}">{{emp1.first_name}} {{emp1.last_name}}</a></li>

              {% endfor %}
               </ul>
          </div>
      
      {% endblock%}

  